<div>
	<div class="page-header">
		<table class="titulo">
			<tr ng-if="informacion.cuestionario">
<!-- 			Cuestionarios -->
				<td>
					<h1>{{informacion.nombre}}</h1>
				</td>
				<td>
					<button type="submit" class="btn salir" ng-click="salir()">Salir</button>
					<button type="submit" class="btn guardar" ng-if="informacion.cuestionario" ng-click="cargar_seccion()" >Continuar</button>	
				</td>
			</tr>
<!-- 			Pregunta o Seccion -->
			<tr ng-if="!informacion.cuestionario">
				<td>
					<h1 ng-if="informacion.seccion">{{informacion.pantallas[indice_seccion].nombre}}</h1>
					<h1 ng-if="informacion.pregunta">{{informacion.nombre_seccion}}</h1>
				</td>
				<td>
					<button type="submit" class="btn salir" ng-click="salir()">Salir</button>
					<button type="submit" class="btn guardar" ng-if="informacion.seccion" ng-click="cambiar_seccion()">Continuar</button>	
					<button type="submit" class="btn guardar" ng-if="!informacion.pregunta_incisos && informacion.pregunta " ng-click="cambiar_pregunta(null, informacion.respuesta)">Continuar</button>	
					
				</td>
			</tr>

			
		</table>

<!-- 			Cuestionario -->
		<div ng-if="informacion.cuestionario" class="texto_mostrar">
			{{informacion.descripcion}}	
		</div>		
<!-- 			Seccion -->
		<div ng-if="informacion.seccion" class="texto_mostrar">
			{{informacion.pantallas[index_seccion_actual].descripcion}}	
		</div>

<!-- 			Preguntas -->
		<div class="texto_mostrar">
			{{informacion.descripcion}}
		</div>

<!-- 			Pregunta sin inciso -->
		<center>
			<form class="introducir_texto" ng-if="informacion.pregunta">
				<div class="" ng-if="!informacion.pregunta_incisos">
					<input type="number" ng-model="informacion.respuesta">
				</div>
			</form>
		</center>
<!-- 			Videos Cuestionario-->
		<center>
			<table ng-if="informacion.cuestionario">
				<tr>
					<td>
<!-- 						<div class="video" ng-if="informacion.cuestionario">
								<youtube-video video-url="informacion.ruta_video" player-width="'600px'" player-height="'400px'" player-vars="playerVars"></youtube-video>	
						</div> -->

						    <video width="640" height="480" html5-video='{{ informacion.ruta_video }}'
						        autoplay='true' controls='true'>
						    </video>

					</td>
					<td ng-if="informacion.cuestionario">
						<button type="submit" class="btn repetir" ng-click="repetir()">Repetir</button>					
					</td>
				</tr>
			</table>
<!-- 			Videos Seccion-->
		<center>
			<table ng-if="informacion.seccion">
				<tr>
					<td>
<!-- 					<div class="video" ng-if="informacion.pantallas[indice_seccion].ruta_video">
								<youtube-video video-url="informacion.pantallas[indice_seccion].ruta_video" player-width="'600px'" player-height="'400px'" player-vars="playerVars"></youtube-video>	
						</div>		 -->
						    <video width="640" height="480" html5-video='{{ informacion.pantallas[indice_seccion].ruta_video }}'
						        autoplay='true' controls='true'>
						    </video>									
					</td>
					<td ng-if="informacion.pantallas[indice_seccion].ruta_video">
						<button type="submit" class="btn repetir" ng-click="repetir()">Repetir</button>					
					</td>
				</tr>
			</table>	
<!-- 			Videos Pregunta-->
			<table ng-if="informacion.pregunta">
				<tr>
					<td>
<!-- 					<div class="video" ng-if="informacion.ruta_video">
								<youtube-video video-url="informacion.ruta_video" player-width="'600px'" player-height="'400px'" player-vars="playerVars"></youtube-video>	
						</div> -->		

						    <video width="640" height="480" html5-video='{{ informacion.ruta_video }}'
						        autoplay='true' controls='true'>
						    </video>

					</td>
					<td ng-if="informacion.ruta_video">
						<button type="submit" class="btn repetir" ng-click="repetir()">Repetir</button>					
					</td>
				</tr>
			</table>	
<!-- 			Imagen Seccion-->
			<table ng-if="informacion.seccion">
				<tr>
					<td>
						<div ng-if="informacion.pantallas[indice_seccion].ruta_imagen">
								<img src="{{informacion.pantallas[indice_seccion].ruta_imagen}}" class="imagen_grande"/>
						</div>					
					</td>
				</tr>
			</table>
<!-- 			Imagen Pregunta-->
			<table ng-if="informacion.pregunta">
				<tr>
					<td>
						<div ng-if="informacion.ruta_imagen">
								<img src="{{informacion.ruta_imagen}}" class="imagen_grande"/>
						</div>					
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			<br/>						
<!-- 		incisos -->
			<table ng-if="informacion.incisos" class="table opcion_respuesta">
				<tr ng-repeat="inc in informacion.incisos" class="seleccionable border_inferior" ng-click="cambiar_pregunta(inc.id, 1)">
					<td>{{inc.inciso_letra}}</td>					
					<td>{{inc.nombre}}</td>
					<td><img ng-if="inc.ruta_imagen" width="100%" height="300" ng-src="{{inc.ruta_imagen}}" class="imagen_chica" /></td>									
				</tr>
			</table>

		</center>	

	</div>
</div>