
<div>
	<div class="page-header">
		<table class="titulo">
			<tr>
				<td>
					<h1>Bienvenido</h1>
				</td>
			</tr>
		</table>

		<div class="centrado_full">

			<form class="form-horizontal">
				<div>
					<label class="texto_instrucciones">Ingrese su contraseña de acceso: 
					</label>

					<div>
						<input type="text" id="formGroupInputLarge" ng-model="contra" value="{{contra}}">
					</div>

					<br/>
					<br/>

					<div class="guardar centrado" ng-click="valida_contra(contra)">
						<p>
							Continuar
						</p>
					</div>
				</div>
			</form>
		</div>


	</div>
</div>