/*
	.clase
	#id
	elemento_html
*/

.titulo{
	color: #FFF;
	background-color: rgb(33,100,144);
	padding: 5px;
	width: 100%;
}
.instruccion{
	color: #000;
	background-color: #FFF;
	padding: 5px;
	width: 100%;
}
.page-header{
	background-color: #FFF;
	height: 100%;
	padding: 10px;
	margin: 0px;
}	
.centrado{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.table{
	width: 600px;
	border: solid;
	border-color: #216490;
}
.texto_instrucciones{
	display: inline;
	font-size: 28px;
	font-weight: bold;
}
input{
	display:block;
	width:100%;
	height:100px;
	padding:6px 12px;
	font-size: 28px;
	text-align: center;
	line-height:1.42857143;
	color:#555;
	background-color: rgb(192,237,254);
	background-image:none;
	border:2px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus{
	border-color:#F7FE2E;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.seleccionable:hover {
	background-color: #DFF0D8;
}
.guardar{
	padding: 5px;
	background-color: rgb(163,217,121);
	border-color: rgb(33,100,144);
	color: #000;
	float: right;
	height: 50px;
	font-size: 28px;	
}
.guardar:hover{
	background-color: #00FF00;	
}
.limpiar{
	background-color: rgb(255,250,131);
	border-color: rgb(33,100,144);	
	color: #000;	
	float: right;	
	height: 50px;
	font-size: 28px;
}
.limpiar:hover{
	background-color: #FFFF00;
}
.repetir{
	background-color: rgb(70,204,251);
	border-color: rgb(33,100,144);	
	color: #000;	
	float: right;	
	height: 50px;
	font-size: 28px;
}
.repetir:hover{
	background-color: #0489B1;
}
.salir{
	background-color: #FA5858;	
	color: #000;
	float: right;	
	height: 50px;
	font-size: 28px;				
}
.salir:hover{
	background-color: rgb(255,0,0);
}
.texto_mostrar{
	height: 100px;
	text-align: center;
	padding: 20px;
	font-size: 28px;
	background-color: #FAFAFA
}
.introducir_texto{
	text-align: center;
    display: block;	   
	font-size: 28px;
	width: 200px;
}
.video{
}
.imagen_grande{
	height: 400px;
	width: 600px;
}
.imagen_chica{
	height: 60px;
	width: 60px;	
}
.centrado_full{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.opcion_respuesta{
	font-size: 24px;
}
.border_inferior{
	border: solid;
	border-color: #216490;
}
.centrado{
	position: absolute;
	left: 50%;
}
.ubicacion{
	display:block;
	width:75%;
}