<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="exportar.js"></script>

<button>Export</button>

<div class="todo">
	<!-- 	Pintar los casos -->
	<table>
		<thead>
			<tr>
				<th>Caso</th>
			</tr>
		</thead>

		<tr ng-repeat="res in excel[0].respuesta" >	
			<td>
				{{res.caso}}
			</td>
		</tr>
	</table>

	<div ng-repeat="preg in excel">
		<table id="dvData">
			<thead>
				<tr>
					<th>{{preg.pregunta}}</th>
				</tr>
			</thead>

			<tr ng-repeat="res in excel[$index].respuesta" >	
				<td>
					{{res.respuesta_final}}
				</td>
			</tr>
		</table>
	</div>



</div>





