
<div>
	<div class="page-header">
		<table class="titulo">
			<tr>
				<td>
					<h1>Configuracion de pantallas de instrucción</h1>
				</td>
				<td>
					<img width="10%" ng-src="../../imgs/back.png" ng-click="regresar_a_seccion()" />
				</td>
			</tr>
		</table>


		<div>

			<br />

			<div class="incisos">
				<table class="table">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Nombre</th>							
							<th>Imagen</th>
							<th>&nbsp;</th>
							<th>Video</th>
							<th>&nbsp;</th>							
							<th>Descripción</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="inc in pantallas">
							<td>{{inc.secuencia}}</td>
							<td><input type="text" class="fc descripcionpregunta" value="{{inc.nombre}}" ng-model="inc.nombre"></td>		
							<td><input type="text" class="fc descripcionpregunta" value="{{inc.ruta_imagen}}" ng-model="inc.ruta_imagen"></td>
							<td><img class="img-grande"src="{{inc.ruta_imagen}}"/></td>	
							<td><input type="text" class="fc descripcionpregunta" value="{{inc.ruta_video}}" ng-model="inc.ruta_video"></td>
							<td><img class="img-grande"src="{{inc.ruta_video}}"/></td>							
							<td><input type="text" class="fc descripcionpregunta" value="{{inc.descripcion}}" ng-model="inc.descripcion"></td>	
							<td><img src="../../imgs/save.png" ng-click="guardar_pantalla(inc.id,inc.nombre, inc.ruta_imagen, inc.ruta_video, inc.descripcion)"/></td></td>				
						</tr>
					</tbody>
				</table>
			</div>

			<div class="etiqueta nomcuestionario">
				<h5>Que pertenecen al cuestionario: {{cuestionario_nombre}}</h5>
				<h5>Que pertenecen a la seccion: {{seccion.nombre}}</h5>
			</div>	

		</div>	
	</div>
</div>