	<link rel="stylesheet" type="text/css" href="cuestionarios.css">
<link rel="stylesheet" type="text/css" href="pregunta.css">
<div>
	<div class="page-header">
			<table class="titulo">
				<tr>
					<td><h1>Configuraci&oacute;n de Cuestionarios</h1></td>
					<td>
						<a  ng-click="salir()"><img class="encabezados" src="../../imgs/exit.png" title="Salir" /></a>
						<a  ng-click="ir_a_excel()"><img class="encabezados" src="../../imgs/exportar.PNG" title="Exportar el cuestionario seleccionado a Excel" /></a>
						<a ng-click="ir_a_probar() "href="http://localhost/giss/public/pages/joven/#/ingresar" target="_blank"><img class="encabezados" src="../../imgs/web.PNG" title="Exportar el cuestionario en la web"/></a>
						<a ng-click="ir_a_probar() "href="http://localhost/giss/public/pages/joven/#/ingresar" target="_blank"><img class="encabezados" src="../../imgs/probar.PNG" title="Probar esta versión"/></a>
						<a ng-click="ir_a_probar() "href="http://localhost/giss/public/pages/administrador/#/usuarios/#/view" target="_blank"><img class="encabezados" src="../../imgs/usuarios.PNG" title="Configurar usuarios para el cuestionario seleccionado"/></a>						
					</td>
				</tr>
			</table>
			<br/>
			
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" ><a class="tab tab_desactiva" href="#/cuestionario" id="tabroles">Cuestionario</a></li>
			<li role="presentation"><a class="tab tab_desactiva" href="#/seccion">Seccion</a></li>
			<li role="presentation"><a class="tab tab_activa" href="#/pregunta">Pregunta</a></li>								
		</ul>
		<hr class="separator_main"></hr>
		<!-- Fin Tabs -->

		<div class="panel panel-primary usuarios">
			<div class="panel-heading">
				<h3 class="panel-title">Nueva / Editar</h3>
			</div>

			<!-- Agregar o editar rol -->
			<!-- Agregar o editar cuestionarios -->
			<form>
				<div class="panel-body">
					<label for="exampleInputEmail1">Nombre de la pregunta</label>
					<input type="text" class="form-control" required="true" value="{{preguntaseleccionada.nombre}}" ng-model="preguntaseleccionada.nombre">
				</div>
				<div class="panel-body">&nbsp;</div>

				<div class="panel-body">
					<label for="exampleInputEmail1">Descripción de la pregunta</label>
					<input type="text" class="form-control descripcionpregunta" required="true" value="{{preguntaseleccionada.descripcion}}" ng-model="preguntaseleccionada.descripcion">
				</div>
				<div class="panel-body">&nbsp;</div>					

				<div class="panel-body">
					<label for="exampleInputEmail1">Activa&nbsp;</label>
					<select ng-model="preguntaseleccionada.estatus" class="selectpicker activo_noactivo" disabled>
						<option value="1">Si</option>
						<option value="0" >No</option>
					</select>
				</div>

				<div class="panel-body">
					<label for="exampleInputEmail1">Sección a la que pertenece</label>
					<select class=" nuevaseccion" ng-model="listasecciones.id" ng-change="cambiarseccionagregar(listasecciones.id)">
						<option value="{{listasecciones.id}}" ng-model="listasecciones.id" ng-repeat="listasecciones in secciones">{{listasecciones.nombre}}</option>
					</select>
				</div>

				<div class="panel-body">&nbsp;</div>

				<div class="panel-body">
					<label>Imagen de la pregunta o Video de la pregunta</label>
					<input type="text" class="form-control imagen" value="{{preguntaseleccionada.ruta_imagen}}" ng-model="preguntaseleccionada.ruta_imagen">

					<input type="text" class="form-control video" value="{{preguntaseleccionada.ruta_video}}" ng-model="preguntaseleccionada.ruta_video">						
				</div>
				<div class="panel-body">&nbsp;</div>						

				<div ng-if="preguntaseleccionada.ruta_video">
					<youtube-video video-url="preguntaseleccionada.ruta_video" player-width="'100%'" player-height="'300px'"></youtube-video>				
					<div class="panel-body">&nbsp;</div>							
				</div>	

				<div ng-if= "preguntaseleccionada.ruta_imagen">
					<img width="100%" height="300" ng-src="{{preguntaseleccionada.ruta_imagen}}"/>
					<div class="panel-body">&nbsp;</div>							
				</div>		


				<button type="submit" class="btn guardar" ng-click="guardar_pregunta(preguntaseleccionada.nombre,preguntaseleccionada.ruta_imagen,preguntaseleccionada.ruta_video,preguntaseleccionada.descripcion)">Guardar</button>	
				<button type="submit" class="btn limpiar" ng-click="limpiar_pregunta()">Limpiar</button>	
			</form>	
			<!-- Fin agregar o editar rol-->


			<div class="panel-heading listausuarios">
				<h3 class="panel-title">Preguntas definidas de la sección</h3>
			</div>

			<div class="panel-heading listaincisos">
				<table>
					<tr>
						<td width="200px"><h3 class="panel-title">Incisos de la pregunta</h3>
						</td>
						<td><img src="../../imgs/add.png" ng-click="agregar_inciso_pregunta()"/>	
						</td>
					</tr>
				</table>			
				

			</div>

			<div class="incisos">
				<table class="table">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Nombre</th>							
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr class="editable normal-{{$index}}" ng-repeat="inc in incisos">
							<td ng-click="ir_a_inciso(inc.id)">{{inc.inciso_letra}}</td>
							<td>{{inc.nombre}}</td>		
							<td>	
								<img src="../../imgs/delete.png" ng-click="eliminar_inciso_pregunta(inc.id)" />
							</td>								
						</tr>
					</tbody>
				</table>
			</div>			

			<div class="bs-example listausuarios2" data-example-id="contextual-table">
				<select class="lista_secciones" ng-model="listasecciones.id" ng-change="cambiarseccion(listasecciones.id)">
					<option value="{{listasecciones.id}}" ng-model="listasecciones.id" ng-repeat="listasecciones in secciones">{{listasecciones.nombre}}</option>
				</select>				
				<!-- Lista de los roles existentes -->
				<div class="desplegartodassecciones">

					<table class="table">
						<thead>
							<tr>
								<th>secuencia</th>
								<th>&nbsp;</th>
								<th>Nombre</th>
								<th>Incisos</th>							
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr class="editable normal-{{$index}}" ng-repeat="preg in preguntas" ng-click="editarPregunta($index, preg.id)">
								<td>{{preg.secuencia}}</td>
								<td>	
									<table>
										<tr>
											<td><img src="../../imgs/up.png" ng-click="reordenarPreguntaMenos(preg.id, preg.secuencia)" /></td>
											<td><img src="../../imgs/down.png" ng-click="reordenarPreguntaMas(preg.id, preg.secuencia)" /></td></td>
										</tr>
									</table>
								</td>
								<td>{{preg.nombre}}</td>		
								<td>{{preg.num_incisos}}</td>	
								<td>	
									<table ng-switch on = "preg.activo">
										<tr>
											<td><img src="../../imgs/edit.png"/ ></td>
											<td>&nbsp;</td>
											<td><img src="../../imgs/delete.png"/ ng-click="activar_desactivar_pregunta(preg.id)" ng-switch-when="1"></td></td>
											<td><img src="../../imgs/activar.png"/ ng-click="activar_desactivar_pregunta(preg.id)" ng-switch-when="0"></td></td>				
										</tr>
									</table>
								</td>								
							</tr>
						</tbody>
					</table>
				</div>
				<!-- Fin de los roles existentes -->
			</div>

		</div>	
	</div>
</div>