	<link rel="stylesheet" type="text/css" href="cuestionarios.css">
			<link rel="stylesheet" type="text/css" href="secciones.css">
	<div>
		<div class="page-header">
			<table class="titulo">
				<tr>
					<td><h1>Configuraci&oacute;n de Cuestionarios</h1></td>
					<td>
						<a  ng-click="salir()"><img class="encabezados" src="../../imgs/exit.png" title="Salir" /></a>						
						<a  ng-click="ir_a_excel()"><img class="encabezados" src="../../imgs/exportar.PNG" title="Exportar el cuestionario seleccionado a Excel" /></a>						
						<a ng-click="ir_a_probar() "href="http://localhost/giss/public/pages/joven/#/ingresar" target="_blank"><img class="encabezados" src="../../imgs/web.PNG" title="Exportar el cuestionario en la web"/></a>
						<a ng-click="ir_a_probar() "href="http://localhost/giss/public/pages/joven/#/ingresar" target="_blank"><img class="encabezados" src="../../imgs/probar.PNG" title="Probar esta versión"/></a>
						<a ng-click="ir_a_probar() "href="http://localhost/giss/public/pages/administrador/#/usuarios/#/view" target="_blank"><img class="encabezados" src="../../imgs/usuarios.PNG" title="Configurar usuarios para el cuestionario seleccionado"/></a>						
					</td>
				</tr>
			</table>

			<br/>

			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" ><a class="tab tab_desactiva" href="#/cuestionario" id="tabroles">Cuestionario</a></li>
				<li role="presentation"><a class="tab tab_activa" href="#/seccion">Seccion</a></li>
				<li role="presentation"><a class="tab tab_desactiva" href="#/pregunta">Pregunta</a></li>								
			</ul>
			<hr class="separator_main"></hr>
			<!-- Fin Tabs -->

			<div class="panel panel-primary usuarios">
				<div class="panel-heading">
					<h3 class="panel-title">Nueva / Editar</h3>
				</div>

				<!-- Agregar o editar rol -->
				<!-- Agregar o editar cuestionarios -->
				<form>
					<div class="panel-body">
						<label for="exampleInputEmail1">Nombre de la seccion</label>
						<input type="text" class="form-control" required="true" value="{{seccionseleccionada.nombre}}" ng-model="seccionseleccionada.nombre">
					</div>
					<div class="panel-body">&nbsp;</div>

					<div class="panel-body">
						<label for="exampleInputEmail1">Descripción de la seccion</label>
						<input type="text" class="form-control" required="true" value="{{seccionseleccionada.descripcion}}" ng-model="seccionseleccionada.descripcion">
					</div>
					<div class="panel-body">&nbsp;</div>					

					<div class="panel-body">
						<label for="exampleInputEmail1">Activo&nbsp;</label>
						<select ng-model="seccionseleccionada.estatus" class="selectpicker activo_noactivo" disabled>
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>

					<div class="panel-body">&nbsp;</div>

					<div class="panel-body">
						<label>Imagen de la sección o Video de la sección</label>
						<input type="text" class="form-control imagen" value="{{seccionseleccionada.ruta_imagen}}" ng-model="seccionseleccionada.ruta_imagen">

						<input type="text" class="form-control video" value="{{seccionseleccionada.ruta_video}}" ng-model="seccionseleccionada.ruta_video">						
					</div>
					<div class="panel-body">&nbsp;</div>						

					<div ng-if="seccionseleccionada.ruta_video">
						<youtube-video video-url="seccionseleccionada.ruta_video" player-width="'100%'" player-height="'300px'"></youtube-video>				
						<div class="panel-body">&nbsp;</div>							
					</div>	

					<div ng-if= "seccionseleccionada.ruta_imagen">
						<img width="100%" height="300" ng-src="{{seccionseleccionada.ruta_imagen}}"/>
						<div class="panel-body">&nbsp;</div>							
					</div>		


					<button type="submit" class="btn guardar" ng-click="guardar_seccion(seccionseleccionada.nombre,seccionseleccionada.ruta_imagen,seccionseleccionada.ruta_video,seccionseleccionada.descripcion)">Guardar</button>	
					<button type="submit" class="btn limpiar" ng-click="limpiar_seccion()">Limpiar</button>	
				</form>	
				<!-- Fin agregar o editar rol-->




			<div class="panel-heading listaincisos">
				<table>
					<tr>
						<td width="200px"><h3 class="panel-title">Pantallas de instrucciones</h3>
						</td>
						<td><img src="../../imgs/add.png" ng-click="agregar_pantalla_seccion()"/>	
						</td>
					</tr>
				</table>			
				

			</div>

			<div class="incisos">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>							
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr class="editable normal-{{$index}}" ng-repeat="inc in pantallas">
							<td ng-click="ir_a_pantallas(inc.id)">{{inc.secuencia}}</td>
							<td>{{inc.nombre}}</td>		
							<td>	
								<img src="../../imgs/delete.png" ng-click="eliminar_pantalla_seccion(inc.id)" />
							</td>								
						</tr>
					</tbody>
				</table>
			</div>	



				<div class="panel-heading listausuarios">
					<h3 class="panel-title">Secciones definidas</h3>
				</div>

				<div class="bs-example listausuarios2" data-example-id="contextual-table">
					<!-- Lista de los roles existentes -->
					<table class="table">
						<thead>
							<tr>
								<th>Secuencia</th>
								<th>&nbsp;</th>
								<th>Nombre</th>
								<th>Preguntas</th>							
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr class="editable normal-{{$index}}" ng-repeat="sec in secciones" ng-click="editarSeccion($index, sec.id)">
								<td>{{sec.secuencia}}</td>
								<td>	
									<table>
										<tr>
											<td><img src="../../imgs/up.png" ng-click="reordenarSeccionMenos(sec.id, sec.secuencia)" /></td>
											<td><img src="../../imgs/down.png" ng-click="reordenarSeccionMas(sec.id, sec.secuencia)" /></td></td>
										</tr>
									</table>
								</td>
								<td>{{sec.nombre}}</td>		
								<td>{{sec.num_preguntas}}</td>	
								<td>	
									<table ng-switch on = "sec.activo">
										<tr>
											<td><img src="../../imgs/edit.png"/ ></td>
											<td>&nbsp;</td>
											<td><img src="../../imgs/delete.png"/ ng-click="activar_desactivar_seccion(sec.id)" ng-switch-when="1"></td></td>
											<td><img src="../../imgs/activar.png"/ ng-click="activar_desactivar_seccion(sec.id)" ng-switch-when="0"></td></td>											
										</tr>
									</table>
								</td>								
							</tr>
						</tbody>
					</table>
					<!-- Fin de los roles existentes -->
				</div>

			</div>	
		</div>
	</div>